.items {
    overflow: auto;
    margin-bottom: 40px;
    flex: 1;
}

.cartItem {
    display: flex;
    align-items: center;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
}

.cartItem p {
    margin-bottom: 5px;
}

.cartItem img {
    margin-right: 20px;
}

.cartItem p,
b {
    font-size: 14px;
}


.infoTovar{
    margin-right: 20px;
}

.remove{
    cursor: pointer;
}